.cabecalhoPrincipal .container{
    display: flex;
    /* alinhando verticalmente no centro */
    align-items: center;
    /* alinhando os elementos, com espaços entre eles */
    justify-content: space-between;
}


.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between; 
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 5%;
    justify-content: space-around;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.rodapePrincipal-patrocinadores{
    background: #ccc;
}
.rodapePrincipal-patrocinadores-footer{
    background-color: #324C64;;
}
